<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="An AWS certified full stack software engineer with 7+ years of demonstratable experience & ability in the industry creating web apps, design and deploy them to be highly available, highly scalable (on demand) and effectively reduce cost with maximum efficiency into your business.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <style>
      footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        height: 100px;
      }
    </style>
    <title>Benjamin Lo | Senior Software Engineer</title>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Benjamin Lo
          </h1>
          <h2 class="subtitle">
            Senior Software Engineer (Backend / DevOps)
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-three-fifths">
            <h1 class="title">
              An overly engineered website
            </h1>
            <div class="content">
              <p class="is-size-6">
                Built using <a href="https://docs.djangoproject.com/" target="_blank">Django 3.1</a> as its backend service combined with <a href="https://www.nginx.com/" target="_blank">Nginx</a> & <a href="https://uwsgi-docs.readthedocs.io/en/latest/" target="_blank">uWSGI</a>. 
                It is then Dockerized as 2 separate containers housed under a single pod (but is load balanced between 2 replicas) and deployed onto <a href="https://digitalocean.com" target="_blank">DigitalOcean</a> as a Kubernetes cluster.
              </p>
              <p class="buttons">
                <button class="button" onclick="window.open('https://www.linkedin.com/in/benjamin-lo-6b0ba11a/');">
                  <span class="icon">
                    <i class="fab fa-linkedin"></i>
                  </span>
                  <span>Linkedin</span>
                </button>
                <button class="button" onclick="window.open('https://github.com/benji011');">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>GitHub</span>
                </button>
                <button class="button" onclick="window.open('https://benjaminlo.io');">
                  <span class="icon">
                    <i class="far fa-bookmark"></i>
                  </span>
                  <span>Portfolio</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>An overly engineered website</strong> by <a href="https://benjaminlo.io" target="_blank">Benjamin Lo</a>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and can be forked on <a href="http://github.com/benji011">GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>