{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths">
        <h1 class="title">
          About
        </h1>
        <div class="content">
          <p class="location-parent">
            <i class="fas fa-link"></i>
            <span>Repository - <a href="https://github.com/benji011/k8s-django-nginx-uWSGI" target="_blank">benji011/k8s-django-nginx-uWSGI</a></span>
          </p>
          <p class="is-size-6">
            I designed this website using Django (+ uWSGI & Nginx) as its backend behind a Kubernetes cluster on DigitalOcean, provisioned with Terraform. 
            My goal was to showcase my ability to handle infrastructure as code (IaC) and how it's designed to scale horizontally on demand. 
            But because such a small web app didn't fit the demand for high scalability I opted to deploy the client facing side into GitHub pages instead.
          </p>
          <p class="buttons">
            <button class="button" onclick="window.open('https://www.linkedin.com/in/benjamin-lo-6b0ba11a/');">
              <span class="icon">
                <i class="fab fa-linkedin"></i>
              </span>
              <span>Linkedin</span>
            </button>
            <button class="button" onclick="window.open('https://github.com/benji011');">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </button>
            <button class="button" onclick="window.open('https://benjaminlo.io');">
              <span class="icon">
                <i class="far fa-bookmark"></i>
              </span>
              <span>Portfolio</span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}