<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="My Kubernetes + Django + Nginx + uWSGI POC. I'm too cheap to actually host it on the cloud especially when my target audience isn't even double digits lol">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <style>
      footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        height: 100px;
      }

      .footer {
        padding: 1.5rem 1.5rem 1.5rem
      }
    </style>
    <title>Benjamin Lo | Senior Software Engineer</title>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Benjamin Lo
          </h1>
          <h2 class="subtitle">
            A Senior Software Engineer (FE / BE / DevOps)
          </h2>
        </div>
      </div>
    </section>
    {% block content %}
    {% endblock %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>An overly engineered website</strong> by <a href="https://benjaminlo.io" target="_blank">Benjamin Lo</a>. <br/>The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and can be forked on <a href="https://github.com/benji011/An-overly-engineered-website" target="_blank">GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>